body {
  background-color:rgba(232, 227, 227, 1);
  margin: 10px;
}
.navbar-custom {
  background-color: rgba(75, 106, 190, 1);
}
.nav-item{
color: white;
}
.imageronde{
  width : 90px; 
  border-radius : 75px;
}
h1{
  font-size: 30px;
}